<tr>

    <td>1</td>
    <td>user name</td>
    <td>email</td>
    <td>gender</td>
    <td>sattus</td>
    <td>
        <a href="/update-user" class="btn border-shadow update"><i class="fa-solid fa-pen"></i></a>
        <a class="btn border-shadow delete"><i class="fa-solid fa-trash"></i></i></a>
    </td>
</tr>